@font-face {
  font-family: "wingding";
  src: url("../fonts/symbols/wingding.ttf");
}

@font-face {
  font-family: "KhmerMEF1";
  src: url("../fonts/KhmerMEF1/KHMERMEF1.eot");
  src: url("../fonts/KhmerMEF1/KHMERMEF1.eot?#iefix") format("embedded-opentype"),
  url("../fonts/KhmerMEF1/KHMERMEF1.otf") format("opentype"),
  url("../fonts/KhmerMEF1/KHMERMEF1.svg") format("svg"),
  url("../fonts/KhmerMEF1/KHMERMEF1.ttf") format("truetype"),
  url("../fonts/KhmerMEF1/KHMERMEF1.woff") format("woff"),
  url("../fonts/KhmerMEF1/KHMERMEF1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KhmerMEF2";
  src: url("../fonts/KhmerMEF2/KHMERMEF2.eot");
  src: url("../fonts/KhmerMEF2/KHMERMEF2.eot?#iefix") format("embedded-opentype"),
  url("../fonts/KhmerMEF2/KHMERMEF2.otf") format("opentype"),
  url("../fonts/KhmerMEF2/KHMERMEF2.svg") format("svg"),
  url("../fonts/KhmerMEF2/KHMERMEF2.ttf") format("truetype"),
  url("../fonts/KhmerMEF2/KHMERMEF2.woff") format("woff"),
  url("../fonts/KhmerMEF2/KHMERMEF2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconsax';
  src:  url("../fonts/iconsax/iconsax.eot");
  src:  url("../fonts/iconsax/iconsax.eot#iefix") format("embedded-opentype"),
  url("../fonts/iconsax/iconsax.ttf") format("truetype"),
  url("../fonts/iconsax/iconsax.woff") format("woff"),
  url("../fonts/iconsax/iconsax.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.font-secondary {
  font-family: var(--secondary-font) !important;
}

.font-primary {
  font-family: var(--primary-font) !important;
}

.isax {
  font-family: iconsax, serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
