.asr {
  width: 100%;
  margin: 0 auto;
}

.asr-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
}

.asr-wrap {
  width: 800px;
  background: white;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 50px;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.asr-block-img {
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.asr-block-img::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba(0, 0, 0, 0.2);*/
  border-right: 1px #f5f5f5 solid;
}

.asr-block-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 65px;
}

.asr-form-create {
  width: 85%;
  margin: 0 auto;
  display: block;
}

.asr-form-title {
  text-align: center;
  font-weight: 600;
  font-size: 45px;
  color: var(--asr-text-color);
}

.asr-form-sub-title {
  color: var(--asr-pale-text-color);
  font-size: 20px;
  text-align: center;
}

.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login {
  width: 40%;
  font-size: 17px;
  line-height: 30px;
  border-radius: 4px;
  transition: 0.4s;
}

.btn-block {
  display: block;
  width: 100% !important;
}

.asr-border-r {
  border-radius: 10px;
  border: 2px solid;
}

.asr-border-r:active,
.asr-border-r:focus {
  border-radius: 10px;
  border: 2px solid var(--asora);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 100vw 0 0 0 var(--asora);
}

.forget-password {
  color: black;
  text-decoration: none;
}

.forget-password:hover,
.forget-password:focus {
  color: #3c8dbc;
  text-decoration: underline;
}

.label-error {
  font-size: 12px;
  color: var(--danger);
}

.has-error {
  border-color: var(--danger) !important;
}

@media screen and (max-width: 992px) {
  .asr-wrap {
    width: 100%;
  }

  .asr-block-form {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .asr-block-img {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .asr-form-create,
  .asr-block-form {
    width: 100%;
  }

  .asr-block-img {
    width: 100%;
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .asr-container {
    background-color: white;
  }
  .asr-wrap {
    padding: 16px;
    box-shadow: none;
  }

  .asr-form-title {
    font-size: 30px;
  }
  .asr-block-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
