.mobile-container {
  padding: 1rem .5rem;
  & .container-header {
    padding: 0 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h1 {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.mobile-container-h {
  min-height: calc(100vh - 75px);
}
